.social-media-app-icon {
    position: absolute;
    padding-top: 15rem;
    right: 3rem;
    width: 25.563rem;
    object-fit: cover;
    transition: 1s;
  }
  .social-media-app-icon:hover {
    transform: translateY(-0.5rem);
    scale: 1.01;
  }

  